.detail-shop-container{
    width: 95%;
    height: 450px;
    margin: 15px auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
}
.info-shop-box{
    width: 95%;
    height: 90%;
    margin: 0 auto;
    padding: 20px 15px;
}
h2{
    line-height: 50px;
}
.detail-product-shop-container{
    width: 95%;
    height: auto;
    margin: 15px auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
}